{% extends "layout.html" %}

{% block content %}
{% include 'navbar.html' %}

<div class="container mt-4">
    {% for product in items %}
    <div class="col-md-4 mb-4"> <!-- added margin-bottom for spacing -->
        <div class="cart_products" id="product_card">
            <img src="{{ product.image_url }}" class="product_card-img" alt="...">
            <div class="product_card-body">
                <h5 class="product_card-title">{{ product.item_name }}</h5>
                <p class="product_card-text">{{ product.info }}</p>
                <p class="product_card-price">${{ product.price }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}